<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harshbhut42.error_404">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Edu Network"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/action_sign_in" />
        <activity android:name=".MainActivity_M" />
        <activity android:name=".Login_M" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".send_grade" />
        <activity android:name=".Notice" />
        <activity android:name=".particular_student_email" />
        <activity android:name=".Student" />
        <activity android:name=".StudentChat" />
        <activity android:name=".parent_button" />
        <activity android:name=".list_view_appointment" />
        <activity android:name=".Prof1" />
        <activity android:name=".Prof2" />
        <activity android:name=".Prof3" />
        <activity android:name=".Prof4" />
        <activity android:name=".Prof5" />
        <activity android:name=".WebView"></activity>
    </application>

</manifest>